################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bufferoverflowtestvs2017/.vs/bufferoverflowtestvs2017/v15
